/* Reset some default styles */
body, p {
    margin: 0;
    padding: 0;
}

/* Set a background image for the body */
body {
    background-image: url(img/bg6.png); /* Replace 'background.jpg' with your image path */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
    position: relative;
}

body::before {
    content: "";
    background-image: url(img/bg6.png); /* Same as the body background image */
    background-size: cover;
    background-position: center;
    filter: blur(2px); /* Adjust the blur intensity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the blur layer behind the content */
}
/* Style the logo */
.logo img{
    max-width: 350px;
    max-height: 250px;
}
/* CSS for image buttons */
.image-button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    width: 200px;
    height: 260px;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 20px;
    margin-top: 180px;
    background-color:ghostwhite;
}

/* Define background images for each button */
#button1 {
    background-image: url(img/Conference-Calendar.png);
}
#button2 {
    background-image: url(img/Conference-Form.png); 
}

#button3 {
    background-image: url(img/Escalation-Management.png); 
}
/* Style for the central logo */
.central-logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 155px; /* Adjust the width of the central logo */
    height: auto; /* Adjust the height of the central logo */
    margin-top: 35px;
}
.note {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: aliceblue;
}

/* Style for the Back button */
#back-button {
    position: fixed;
    top: 10px; /* Adjust the distance from the top */
    right: 10px; /* Adjust the distance from the right */
    padding: 10px 20px; /* Add padding for better visibility */
    background-color: #0074e4; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; /* Ensure the button is above other content */
}

/* Style for the Back button on hover (optional) */
#back-button:hover {
    background-color: #0056a6; /* Change the background color on hover */
}
