*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color:#081b29;
}
.container {
    display: flex;
    height: 100vh;
    background: url(img/D3.png);
}

.left-box img {
    width: 300px;
    height: 300px;
    margin-top: 150px;
    margin-left: 80px;
}

/* Style the right box */
.right-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style the button rows */
.button-row {
    display: flex;
    justify-content: space-between;
}

/* Style the buttons */
button {
    width: 200px; 
    height: 80px;
    padding: 15px 0; /* Adjust vertical padding if needed */
    background-color: #090749;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px;
    font-size: 15px;
    text-align: center; /* Center the button text horizontally */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Show ellipsis for long text */
    backdrop-filter: blur (5px);
}

button:hover {
    background-color: #279EFF;
}

footer {
    text-align: center; 
    margin-top: auto;
    background-color: #081b29; 
    color: #fff; 
    padding: 20px;
    font-size: 15px;
}



/* Responsive Styles for Max Width 600px */
@media (max-width: 600px) {

    .container {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .left-box img {
        width: 150px;
        height: 150px;
        margin-top: 50px;
        display: flex;
    }

    .right-box {
        margin-top: 20px;
        text-align: center;
        margin-right: 100px;
    }

    .button-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    button {
        max-width: none;    
        margin-top: 10px;
        width: 150px;
        height: 65px;
        font-size: 12px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer {
        text-align: center; 
        margin-top: auto;
        background-color: #081b29; 
        color: #fff; 
        padding: 20px;
        font-size: 10px;
        text-decoration: none;
         }
    }




